name: 'テストを実行'

on:
  workflow_dispatch:
  push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        module: [ network, io-type ]
    runs-on: ubuntu-latest
    steps:
      - name: 仮想ブランチにチェックアウト
        uses: actions/checkout@v4

      - name: Javaのセットアップ
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'

      - name: ./gradlewに権限を付与
        run: |
          chmod 777 ${{ github.workspace }}/gradlew
      - name: テストを実行
        run: |
          ${{ github.workspace }}/gradlew ${{ matrix.module }}:allTests --info
